<!DOCTYPE html>

<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="fr-FR"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="fr-FR"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="fr-FR"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="fr-FR"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="fr-FR"><!--<![endif]-->

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Suresnes Escalade{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block robots %}
    <meta name="robots" content="noindex,follow" /><!-- Page is not indexed by Google and other search engines -->
    {% endblock %}
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/wp-content/cache/minify/000000/fY9ZDoMwEEMvBJ1yIhSCC0FZaBwouT2hostP-_lsyzNuBCt8Yu2UVwOiGK_t0oOiydNrT69qJIJz8DQramuGMXVhE0UiUfgwMw5mWKLGm6urDNl1IThp0wiHlinbcuBmsdGavhR_IlPRldf5KJruC2K-vPhnUXkK6ct9yv_S54Qd.css" media="all" />
<link rel="stylesheet" type="text/css" href="/wp-content/cache/minify/000000/M9RPzEqs0E0tS80r0U1OzEnNS0ks0k8uLtbPKixNLarULc3UNdSz0DM000suLS7JzwUA.css" media="all" />
<link rel="stylesheet" type="text/css" href="/wp-content/cache/minify/000000/M9RPzEqs0E0tS80r0U1OzEnNS0ks0k8uLtZPLi0uyc8FAA.css" media="all" />
<script type="text/javascript" src="/wp-content/cache/minify/000000/dY9LDsIwDEQvRBuhnshNrMgliYs_IDg9CHWF3J31njTjWdJ2d5TXZTmOqVMVMJw7jS90OvjsNGeWkD-pVLTI7KxkxCNynV3DOGUxWFvoyve1nfINJYzE4REHN87c94bxMEGl92mlQK1ncnWzeF4haFx_5prwgcN06jCgoiQauXlBTZv-qQ8.js"></script>
<script type="text/javascript" src="/wp-content/cache/minify/000000/M9QvSi0uyM8rzixL1c3JTM8oScqv0E8sLk4tKdYvLs8sSAXxi_NLi5JT9bMKS1OLKvVgwnq5mXkA.js"></script>
<script type="text/javascript" src="/wp-content/cache/minify/000000/bY5RDsIgEEQvJNDGxCN4AU9AYUEq7NaF1uLpbU1_mvA5b14m0yuGPBHmsICIwT_LQKsas3JMWC6d8jUNRGlHiSwwhi-f8fiegassH4DSbEDngF728tqsjWaa7wz2AVHcNq0TkzYvsE3bRVhzDNsTmQKeFafR1P__wz2y3PfaazOaHw.js"></script>
<script type="text/javascript" src="/wp-content/cache/minify/000000/M9RPzEqs0E0tS80r0U1OzEnNS0ks0s8q1s8qLE0tqtRLK83JgQnr5WbmAQA.js"></script>
<script type="text/javascript" src="/wp-content/cache/minify/000000/jc1BDsIgEIXhC5UhxC68TUNgtIMM4ABib2-66BrX73v5jbbBfhV-MDXlbMTkrehQdXh3lAMqcYnI2dsIBla4AVNazOTFuVccO2L8i4en5DGhZO7p8p3A24aF3AtFPWQaoERtq3se2zUuq3aZ-fSCJR5n_Ac.js"></script>



    <title>Suresnes Escalade</title>
    <meta charset="UTF-8">

    <!-- Apple iOS Settings -->
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />

    <!--[if gte IE 9]>
    <style type="text/css">
      .button, .button:hover, .button.grey, .button.grey:hover {
         filter: none;
      }
    </style>
    <![endif]-->


<link rel='stylesheet' id='custom-google-fonts-css'  href='http://fonts.googleapis.com/css?family=Strait%3A400%2C300%2C600%2C700%2C800&#038;ver=1.0' type='text/css' media='all' />
<link rel='stylesheet' id='customized-styles-css'  href='/wp-content/themes/gymboom/_theme_styles/custom.php?footer_bg=333333&#038;bottom_bg=202020&#038;color=418bd1&#038;font=Strait&#038;ver=1.0' type='text/css' media='all' />






<style type="text/css">#logo a { background: url('/wp-content/uploads/2014/02/logo-288x197.png') left center no-repeat; }#logo a { width:250px; }#logo a { height:90px; }footer { background-color: #333333; }</style>        <!-- The Favicon, change this to whatever you'd like -->
        <link rel="shortcut icon" href="/wp-content/uploads/2014/02/favicon-tmp.png" />
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-35386709-1', 'suresnes-escalade.fr');
  ga('send', 'pageview');
</script><style type="text/css">.ui-datepicker-month, .ui-datepicker-year {
    display: none;
}</style>
</head>
<body class="home page page-id-2 page-template-default">

    <section id="wrap">
        <header>
            <section class="shell">
                <h1 id="logo"><a href="/" class="notext">Suresnes Escalade</a></h1>
            </section>
        </header>

    <section id="bottom">
        <section class="shell">
            <article id="content" class="post-331 page type-page status-publish hentry">
                {% block body %}{% endblock %}
                {% block javascripts %}{% endblock %}
            </article>
        </section>
    </section>

</section>

<script type="text/javascript">
    var customColor = '418bd1';
    var templateDir = '/wp-content/themes/gymboom';
    var in_lang = 'dans';
</script>



</body>
</html>