{% extends 'AppBundle::base.html.twig' %}

{% block body %}

<style>
.errors {
    color: red;
}
label {
    font-size: 15px;
    line-height: 23px;
    margin: 0 15px 15px 0;
    display: inline-block;
    width: 40%;
    text-align: right;
}
input, select {
    font-size: 15px;
    padding: 2px;
}
#app_appbundle_subscription_birthday, #app_appbundle_subscription_certificateDate {
    display: inline;
}
.gb-button {
    border: none;
}
.gb-button:hover {
    color: #fff;
}
</style>

    <h1>Inscription</h1>

    {% if subscription.id %}
    <p>Vous êtes en train de modifier l'inscription de "{{ subscription.firstName }} {{ subscription.lastName }}". Un email de confirmation vous a été envoyé. Tant que l'inscription n'est pas validée, vous pouvez modifier les informations saisies.</p>
    <p style="text-align: center"><a class="gb-button" href="?new">Inscrire un autre grimpeur</a></p>
    {% endif %}

    {{ form_start(form) }}

    <div class="errors">
        {{ form_errors(form, { attr: { class: 'error' }}) }}
    </div>

    <h2>Coordonnées</h2>

    <p>N'oubliez pas de renseigner votre adresse email valide. Elle est indispensable pour recevoir votre fiche d'inscription et votre licence.</p>

    {{ form_row(form.lastName, { label: "Nom" }) }}
    {{ form_row(form.firstName, { label: "Prénom" }) }}
    {{ form_row(form.birthday, { label: "Date de naissance" }) }}
    {{ form_row(form.sex, { label: "Sexe" }) }}
    {{ form_row(form.address, { label: "Adresse" }) }}
    {{ form_row(form.postalCode, { label: "Code postal" }) }}
    {{ form_row(form.city, { label: "Ville" }) }}
    {{ form_row(form.phone, { label: "Téléphone" }) }}
    {{ form_row(form.email, { label: "Adresse E-Mail" }) }}
    {{ form_row(form.occupation, { label: "Profession / Occupation" }) }}
    {{ form_row(form.nationality, { label: "Nationalité" }) }}

    <div id="form_parent">
        <h2>Coordonnées d'un parent pour les mineurs</h2>
        {{ form_row(form.parentLastName, { label: "Nom" }) }}
        {{ form_row(form.parentFirstName, { label: "Prénom" }) }}
        {{ form_row(form.parentPhone, { label: "Téléphone" }) }}
        {{ form_row(form.parentEmail, { label: "Adresse E-Mail" }) }}
    </div>

    <script>
    var refDate = Date.UTC({{ subscription.season.beginAt|date('Y') }}-18, 9, 1);
    jQuery('#app_appbundle_subscription_birthday select').on('change', function () {
        var day = jQuery('#app_appbundle_subscription_birthday_day').val();
        var month = jQuery('#app_appbundle_subscription_birthday_month').val();
        var year = jQuery('#app_appbundle_subscription_birthday_year').val();

        jQuery('#form_parent').hide();
        jQuery('#form_parent select').attr('required', false);
        if (day && month && year) {
            var date = Date.UTC(year, month-1, day);
            if (date - refDate > 0) {
                jQuery('#form_parent').show();
                jQuery('#form_parent select').attr('required', 'required');
            }
        }
    }).trigger('change');
    </script>

    <h2>Informations concernant l'escalade</h2>

    <p>Le <a href="http://www.ffme.fr/licence/page/prendre-sa-licence-c-est-plus-de-liberte.html" target="_blank">numéro de licence FFME</a>, il s'agit d'un numéro à 6 chiffres qui vous identifie à la fédération. Il vous a été transmis par courrier ou plus récement par email ou SMS lors de votre dernière inscription.  Bien sur, les personnes n'ayant jamais été licenciées ne possèdent pas encore de numéro de licence :-)</p>

    {{ form_row(form.isRenewal, { label: "Êtes-vous déjà adhérent du Club ?" }) }}
    {{ form_row(form.licence, { label: "N° licence FFME" }) }}
    {{ form_row(form.climbingLevel, { label: "Niveau escalade ?" }) }}
    {{ form_row(form.climbingExperience, { label: "Nombre d'années de pratique ?" }) }}

    <p>Les "Passeports FFME" sont des certificats mis en place par la fédération pour juger du niveau et des connaissances d'un grimpeur, tout comme les étoiles et fléchettes pour le ski ou des ceintures en judo et karaté. Pour en savoir plus sur les passeports, <a href="http://www.ffme.fr/formation/page/les-passeports-montagne-et-escalade.html" target="_blank" title="Les passeports FFME">cliquez ici</a>.</p>

    {{ form_row(form.passportFfme, { label: "Titulaire d'un passeport FFME ?" }) }}
    {{ form_row(form.isCompetitor, { label: "Souhaiteriez-vous participer aux compet' ?" }) }}

    <h2>Pour quel créneau souhaiteriez-vous vous inscrire ?</h2>

    <p>Veuillez consulter la <a href="{{ path('slots_subscriptions') }}" title="Créneaux Suresnes Escalade {{ subscription.season.title }}" target="_blank">page de présentation des créneaux</a> et en choisir 2 correspondant à votre age, votre niveau ... et vos disponibilités bien sûr.

    {{ form_row(form.slot1, { label: "1er souhait de créneau" }) }}
    {{ form_row(form.slot2, { label: "2nd souhait de créneau" }) }}
    {{ form_row(form.noSlot, { label: "Pas de créneaux, juste une licence." }) }}

    <h2>Licence FFME &amp; Assurances</h2>

    <p>Votre adhésion Suresnes Escalade comprend la licence FFME {{ subscription.season.beginAt|date('Y') }}/{{ subscription.season.endAt|date('Y') }}. Cette dernière inclut une assurance "Responsabilité Civile" et "Défense Pénale et Recours". Pour plus de renseignements, vous pouvez consulter la <a href="http://www.ffme.fr/uploads/federation/documents/licence/{{ subscription.season.endAt|date('Y') }}-notice-assurance.pdf" target="_blank">"Notice d'information" (PDF)</a> éditée par la FFME. La licence vous propose des "garanties automatiques", qu'il est possible d'élargir, avec les options slackline et ski.</p>

    {{ form_row(form.insurance, { label: 'Garantie assurance' }, { label: "" }) }}
    {{ form_row(form.insuranceSlackline, { label: 'Option Assurance Slackline et Highline' }, { label: "" }) }}
    {{ form_row(form.insuranceSki, { label: 'Option Assurance Ski' }, { label: "" }) }}

    <p>Vous avez également la possibilité de souscrire des garanties optionnelles Indeminités Journalières qui seront effectives après souscription spécifique et réglement d'une surprime. Pour plus de renseignements, vous pouvez consulter la <a href="http://www.ffme.fr/uploads/federation/documents/licence/{{ subscription.season.endAt|date('Y') }}-notice-assurance.pdf" target="_blank">"Notice d'information" (PDF)</a> éditée par la FFME.</p>

    {{ form_row(form.insuranceIj, { label: 'Assurance complémentaire' }, { label: "" }) }}

    <h2>Mode de réglement</h2>

    <p>Si vous en êtes bénéficiaire du <a href="http://www.hauts-de-seine.net/education-jeunesse/pass-hauts-de-seine/un-dispositif-pour-les-loisirs-des-collegiens-des-hauts-de-seine/" target="_blank">Pass92</a>, merci de nous remettre un chèque de 70 € que l'on vous restituera en échange du document imprimé.</p>
    {{ form_row(form.paymentPass92, { label: "Bénéficiez-vous du P@SS 92 ?" }) }}

    <p>Si vous êtes bénéficiaire de <a href="http://vosdroits.service-public.fr/particuliers/F2119.xhtml" target="_blank">Coupons Sport</a>, merci de nous remettre un chèque du total des coupons que l'on vous restituera contre les coupons.</p>
    {{ form_row(form.paymentCouponSport, { label: "Bénéficiez-vous des Coupons Sport ?" }) }}

    <p>Si vous êtes bénéficiaire d'une subvention de votre CE, merci de nous remettre un chèque du total des subventions que l'on vous restituera contre les chèques de subvention.</p>
    {{ form_row(form.paymentSubvensionCe, { label: "Bénéficiez-vous d'une subvention CE ou autre ?" }) }}

    <p>Il est possible de payer la cotisation au club en 3 chèques qui seront encaissés sur 3 mois consécutifs à partir de septembe.</p>
    {{ form_row(form.payment3Times, { label: "Souhaitez-vous payer en 3 fois ?" }) }}

    <h2>Certification médical</h2>

    <p>Le certificat médical doit impérativement porter la mention « Apte à la pratique de l'escalade ». Il doit dater de moins de 12 mois à la date de prise de la licence (10 septembre).</p>

    {#{ form_row(form.certificateFile, { label: "Téléchargez le certificat numérisé (si possible)." }) }#}
    {{ form_row(form.certificateDoctor, { label: "Nom du médecin" }) }}
    {{ form_row(form.certificateDate, { label: "Date du certificat" }) }}
    {{ form_row(form.certificateCompetition, { label: "Le certificat porte la mention « Apte pour la compétition »" }) }}

    <p>Le souhait d'inscription que vous allez réaliser via le formulaire d'inscription en ligne sera validé par le bureau du club (et donc effectif) sous réserve que le(s) créneau(x) souhaité(s) ne soi(ent) pas complet(s) et uniquement lorsque le bureau aura reçu l'intégralité des pièces nécessaires à votre inscription, à savoir :</p>

    <ul>
        <li>Le certificat médical d'aptitude à l'escalade (avec la mention "apte à la compétition" pour les enfants ET les adultes)</li>
        <li>Le règlement de la cotisation annuelle (paiement par chèque : possibilité de payer en trois fois, encaissement au plus tôt mi-septembre {{ subscription.season.beginAt|date('Y') }})</li>
        <li>La fiche d'inscription imprimée et signée par l'Adhérent (par le parent pour un mineur)</li>
    </ul>

    <p style="font-size: 120%; color: #2D77BD; text-align: center"><strong>Votre dossier doit être validé avant votre première scéance sur le mur.</strong></p>

    <p>L'inscription à Suresnes Escalade est réalisée pour la saison complète et est non remboursable. Toutefois, une retraction est tolérée jusqu'au 1er septembre {{ subscription.season.beginAt|date('Y') }} et donnera lieu à la restitution de l'intégralité du dossier d'inscription. Passé cette date les éventuelles demandes de remboursement pour arrêt anticipé de l'activité devront être dûment motivées et seront étudiées par les administrateurs de Suresnes Escalade. Les sommes versées au titre des droits d'entrée et de la licence resteront respectivement acquises à Suresnes Escalade et à la FFME.</p>

    <div style="text-align: center">
        {{ form_row(form.submit, { attr: { class: "gb-button" } })}}
    </div>

    {{ form_end(form) }}

{% endblock %}
