<html>

<head>
<meta name=Title content="">
<meta name=Keywords content="">
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=Generator content="Microsoft Word 14 (filtered)">
<style>
<!--
 /* Font Definitions */
@font-face
  {font-family:Arial;
  panose-1:2 11 6 4 2 2 2 2 2 4;}
@font-face
  {font-family:"ＭＳ 明朝";}
@font-face
  {font-family:"ＭＳ 明朝";}
@font-face
  {font-family:Cambria;
  panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
  {font-family:"Lucida Grande";
  panose-1:2 11 6 0 4 5 2 2 2 4;}
@font-face
  {font-family:MinionPro-Regular;
  panose-1:0 0 0 0 0 0 0 0 0 0;}
@font-face
  {font-family:"45 Helvetica Light";}
@font-face
  {font-family:HelveticaNeue-Light;
  panose-1:0 0 0 0 0 0 0 0 0 0;}
 /* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal
  {margin:0cm;
  margin-bottom:.0001pt;
  font-size:12.0pt;
  font-family:Cambria;}
p.MsoHeader, li.MsoHeader, div.MsoHeader
  {margin:0cm;
  margin-bottom:.0001pt;
  font-size:12.0pt;
  font-family:Cambria;}
p.MsoFooter, li.MsoFooter, div.MsoFooter
  {margin:0cm;
  margin-bottom:.0001pt;
  font-size:12.0pt;
  font-family:Cambria;}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
  {margin:0cm;
  margin-bottom:.0001pt;
  font-size:9.0pt;
  font-family:"Lucida Grande";}
span.BalloonTextChar
  {font-family:"Lucida Grande";}
p.Paragraphestandard, li.Paragraphestandard, div.Paragraphestandard
  {margin:0cm;
  margin-bottom:.0001pt;
  line-height:120%;
  text-autospace:none;
  font-size:12.0pt;
  font-family:MinionPro-Regular;
  color:black;}
.MsoChpDefault
  {font-size:10.0pt;
  font-family:Cambria;}
 /* Page Definitions */
@page WordSection1
  {size:595.0pt 842.0pt;
  margin:70.85pt 49.25pt 70.85pt 70.9pt;}
div.WordSection1
  {page:WordSection1;}
-->
</style>

</head>

<body lang=FR>

<div class=WordSection1>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=517
 style='margin-left:7.1pt'>
 <tr style='height:4.0pt'>
  <td width=517 colspan=6 style='width:516.7pt;padding:0cm 0cm 0cm 0cm;
  height:4.0pt'></td>
 </tr>
 <tr style='height:4.0pt'>
  <td width=517 colspan=6 style='width:516.7pt;padding:0cm 0cm 0cm 0cm;
  height:4.0pt'>
  <p class=MsoNormal style='margin-left:-21.25pt; text-align: center'><img src="/bundles/app/images/logo-300.png" alt="Suresnes Escalade" height="100" width="220"/></p>
  </td>
 </tr>
 <tr>
  <td width=517 colspan=6 style='width:516.7pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:14.0pt;font-family:Arial'>FICHE D'INSCRIPTION {{ subscription.season.beginAt|date('Y') }} - {{ subscription.season.endAt|date('Y') }}</span></b></p>
  </td>
 </tr>
 <tr>
  <td width=268 colspan=2 style='width:267.85pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>Fichier
  n° {{ subscription.id }}</span></p>
  </td>
  <td width=4 style='width:4.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=245 colspan=3 style='width:244.85pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal align=right style='text-align:right'><span
  style='font-size:8.0pt;font-family:Arial'>{{ subscription.createdAt|date('d/m/Y')
  }} (Date Inscription)</span></p>
  </td>
 </tr>
 <tr style='height:4.0pt'>
  <td width=268 colspan=2 style='width:267.85pt;padding:0cm 0cm 0cm 0cm;
  height:4.0pt'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>Licence
  n° {{ subscription.licence }}</span></p>
  </td>
  <td width=4 style='width:4.0pt;padding:0cm 0cm 0cm 0cm;height:4.0pt'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td style='border:none;padding:0cm 0cm 0cm 0cm' width=245 colspan=3><p class='MsoNormal'>&nbsp;</td>
 </tr>
 <tr>
  <td width=517 colspan=6 style='width:516.7pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:"Times New Roman"'>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width=517 colspan=6 style='width:516.7pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal align=center style='text-align:center'><b><u><span
  style='font-size:10.0pt;font-family:Arial'>Coordonnées</span></u></b></p>
  </td>
 </tr>
 <tr>
  <td width=517 colspan=6 style='width:516.7pt;padding:0cm 0cm 0cm 0cm'></td>
 </tr>
 <tr>
  <td width=114 style='width:113.75pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>Nom
  du Grimpeur&nbsp;:</span></p>
  </td>
  <td width=154 style='width:154.1pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>{{
  subscription.lastName }}</span></p>
  </td>
  <td width=4 style='width:4.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=104 colspan=2 style='width:103.85pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>Nom
  de l'Adhérent&nbsp;:</span></p>
  </td>
  <td width=141 style='width:141.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>{{
  subscription.parentLastName }}</span></p>
  </td>
 </tr>
 <tr>
  <td width=114 style='width:113.75pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>Prénom
  du Grimpeur&nbsp;:</span></p>
  </td>
  <td width=154 style='width:154.1pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal style='margin-left:12.6pt;text-indent:-12.6pt'><span
  style='font-size:8.0pt;font-family:Arial'>{{
  subscription.firstName }}</span></p>
  </td>
  <td width=4 style='width:4.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=104 colspan=2 style='width:103.85pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>Prénom
  de l'Adhérent&nbsp;:</span></p>
  </td>
  <td width=141 style='width:141.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>{{
  subscription.parentFirstName }}</span></p>
  </td>
 </tr>
 <tr>
  <td width=114 style='width:113.75pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>Adresse
 &nbsp;:</span></p>
  </td>
  <td width=403 colspan=5 style='width:402.95pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>{{
  subscription.address }}</span></p>
  </td>
 </tr>
 <tr>
  <td width=114 style='width:113.75pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>Adresse
 &nbsp;:</span></p>
  </td>
  <td width=403 colspan=5 style='width:402.95pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>{{
  subscription.city }} ({{ subscription.postalCode }})</span></p>
  </td>
 </tr>
 <tr>
  <td width=517 colspan=6 style='width:516.7pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width=114 style='width:113.75pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>Date
  de Naissance&nbsp;: </span></p>
  </td>
  <td width=154 style='width:154.1pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>{{
  subscription.birthday|date('d/m/Y') }} ({{ subscription.age }} ans)</span></p>
  </td>
  <td width=4 style='width:4.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=104 colspan=2 style='width:103.85pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=141 style='width:141.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width=517 colspan=6 style='width:516.7pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width=114 style='width:113.75pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>Profession
  du Grimpeur&nbsp;: </span></p>
  </td>
  <td width=154 style='width:154.1pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>{{subscription.occupation
  }}</span></p>
  </td>
  <td width=4 style='width:4.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=104 colspan=2 style='width:103.85pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>Profession
  de l'Adhérent&nbsp;: </span></p>
  </td>
  <td width=141 style='width:141.0pt;padding:0cm 0cm 0cm 0cm'></td>
 </tr>
 <tr>
  <td width=114 style='width:113.75pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>Email
  du Grimpeur&nbsp;: </span></p>
  </td>
  <td width=154 style='width:154.1pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>{{
  subscription.email }}</span></p>
  </td>
  <td width=4 style='width:4.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=104 colspan=2 style='width:103.85pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>Email
  de l'Adhérent&nbsp;: </span></p>
  </td>
  <td width=141 style='width:141.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>{{
  subscription.parentEmail }}</span></p>
  </td>
 </tr>
 <tr>
  <td width=517 colspan=6 style='width:516.7pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width=114 style='width:113.75pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>Tel
  fixe du Grimpeur&nbsp;:</span></p>
  </td>
  <td width=154 style='width:154.1pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>{{
  subscription.phone }}</span></p>
  </td>
  <td width=4 style='width:4.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=104 colspan=2 style='width:103.85pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>Tel
  de l'Adhérent&nbsp;:</span></p>
  </td>
  <td width=141 style='width:141.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>{{
  subscription.parentPhone }}</span></p>
  </td>
 </tr>
 <tr>
  <td width=517 colspan=6 style='width:516.7pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width=517 colspan=6 style='width:516.7pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><b><u><span style='font-size:8.0pt;font-family:
  Arial'>Escalade</span></u></b></p>
  </td>
 </tr>
 <tr>
  <td width=517 colspan=6 style='width:516.7pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width=114 style='width:113.75pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>Nouveau
  dans le club ?</span></p>
  </td>
  <td width=154 style='width:154.1pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>{{
  subscription.isRenewal?'non':'oui'}}</span></p>
  </td>
  <td width=4 style='width:4.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=245 colspan=3 style='width:244.85pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>Dernier
  Moniteur&nbsp;: </span></p>
  </td>
 </tr>
 <tr>
  <td width=114 style='width:113.75pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>D'autres
  membres ?</span></p>
  </td>
  <td width=403 colspan=5 style='width:402.95pt;padding:0cm 0cm 0cm 0cm'></td>
 </tr>
 <tr>
  <td width=517 colspan=6 style='width:516.7pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width=517 colspan=6 style='width:516.7pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-family:Arial'>Créneau&nbsp;: {{
  subscription.slot1.title }}</span></b></p>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-family:Arial'>Ou&nbsp;: {{
  subscription.slot2.title }}</span></b></p>
  </td>
 </tr>
 <tr>
  <td width=517 colspan=6 style='width:516.7pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:9.0pt;font-family:"Times New Roman"'>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width=517 colspan=6 style='width:516.7pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal align=center style='text-align:center'><b><u><span
  style='font-size:10.0pt;font-family:Arial'>Financier (à completer)</span></u></b></p>
  </td>
 </tr>
 <tr>
  <td width=517 colspan=6 style='width:516.7pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width=114 style='width:113.75pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>Montant
  Cotisation&nbsp;:</span></p>
  </td>
  <td width=154 style='width:154.1pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>{{
  subscription.priceCalculated }} €</span></p>
  </td>
  <td width=8 colspan=2 style='width:8.3pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal style='line-height:115%'><span
  style='font-size:8.0pt;line-height:115%;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=100 style='width:99.55pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal style='line-height:115%'><span
  style='font-size:8.0pt;line-height:115%;font-family:Arial'>Espèces&nbsp;:</span></p>
  </td>
  <td width=141 style='width:141.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width=114 style='width:113.75pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=154 style='width:154.1pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=8 colspan=2 style='width:8.3pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal style='line-height:115%'><span
  style='font-size:8.0pt;line-height:115%;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=100 style='width:99.55pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal style='line-height:115%'><span
  style='font-size:8.0pt;line-height:115%;font-family:Arial'>Pass 92&nbsp;:</span></p>
  </td>
  <td width=141 style='width:141.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width=268 colspan=2 style='width:267.85pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=8 colspan=2 style='width:8.3pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal style='line-height:115%'><span
  style='font-size:8.0pt;line-height:115%;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=100 style='width:99.55pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal style='line-height:115%'><span
  style='font-size:8.0pt;line-height:115%;font-family:Arial'>Coupons Sport&nbsp;:</span></p>
  </td>
  <td width=141 style='width:141.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width=268 colspan=2 style='width:267.85pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=8 colspan=2 style='width:8.3pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal style='line-height:115%'><span
  style='font-size:8.0pt;line-height:115%;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=100 style='width:99.55pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal style='line-height:115%'><span
  style='font-size:8.0pt;line-height:115%;font-family:Arial'>Chèques&nbsp;: </span></p>
  </td>
  <td width=141 style='width:141.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width=268 colspan=2 style='width:267.85pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=8 colspan=2 style='width:8.3pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=100 style='width:99.55pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><b><span style='font-size:8.0pt;font-family:
  Arial'>TOTAL&nbsp;:</span></b></p>
  </td>
  <td width=141 style='width:141.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><b><span style='font-size:8.0pt;font-family:
  Arial'>{{ subscription.priceCalculated }} €</span></b></p>
  </td>
 </tr>
 <tr>
  <td width=517 colspan=6 style='width:516.7pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>&nbsp;</span></p>
  <p class=MsoNormal><span style='font-size:8.0pt;font-family:Arial'>Date
  d'encaissement des chèques&nbsp;: (3 mois consécutifs, le 1er mois étant le mois
  de l'inscription)&nbsp;: </span></p>
  </td>
 </tr>
 <tr>
  <td width=517 colspan=6 style='width:516.7pt;padding:0cm 0cm 0cm 0cm'>
  <div align=center>
  <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=498
   style='margin-left:18.6pt'>
   <tr>
    <td width=40 style='width:39.75pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=40 style='width:39.75pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=40 style='width:39.75pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=40 style='width:39.75pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=40 style='width:39.75pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=61 style='width:60.85pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=40 style='width:39.75pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=40 style='width:39.75pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=40 style='width:39.75pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=40 style='width:39.75pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=40 style='width:39.75pt;padding:0cm 0cm 0cm 0cm'></td>
    <td width=40 style='width:39.75pt;padding:0cm 0cm 0cm 0cm'></td>
   </tr>
   <tr style='height:20.9pt'>
    <td width=40 style='width:39.75pt;padding:0cm 0cm 0cm 0cm;height:20.9pt'>
    <p class=MsoNormal><span style='font-size:8.0pt;font-family:
    Arial'>&nbsp;</span></p>
    </td>
    <td width=40 style='width:39.75pt;padding:0cm 0cm 0cm 0cm;height:20.9pt'>
    <p class=MsoNormal><span style='font-size:8.0pt;font-family:
    Arial'>Chèque 1</span></p>
    </td>
    <td width=40 style='width:39.75pt;padding:0cm 0cm 0cm 0cm;height:20.9pt'></td>
    <td width=40 style='width:39.75pt;padding:0cm 0cm 0cm 0cm;height:20.9pt'>
    <p class=MsoNormal><span style='font-size:8.0pt;font-family:
    Arial'>Chèque 2</span></p>
    </td>
    <td width=40 style='width:39.75pt;padding:0cm 0cm 0cm 0cm;height:20.9pt'></td>
    <td width=61 style='width:60.85pt;padding:0cm 0cm 0cm 0cm;height:20.9pt'>
    <p class=MsoNormal><span style='font-size:8.0pt;font-family:
    Arial'>&nbsp;Chèque 3</span></p>
    </td>
    <td width=40 style='width:39.75pt;padding:0cm 0cm 0cm 0cm;height:20.9pt'>
    <p class=MsoNormal><span style='font-size:8.0pt;font-family:
    Arial'>&nbsp;</span></p>
    </td>
    <td width=40 style='width:39.75pt;padding:0cm 0cm 0cm 0cm;height:20.9pt'>
    <p class=MsoNormal><span style='font-size:8.0pt;font-family:
    Arial'>&nbsp;</span></p>
    </td>
    <td width=40 style='width:39.75pt;padding:0cm 0cm 0cm 0cm;height:20.9pt'>
    <p class=MsoNormal><span style='font-size:8.0pt;font-family:
    Arial'>&nbsp;</span></p>
    </td>
    <td width=40 style='width:39.75pt;padding:0cm 0cm 0cm 0cm;height:20.9pt'>
    <p class=MsoNormal><span style='font-size:8.0pt;font-family:
    Arial'>&nbsp;</span></p>
    </td>
    <td width=40 style='width:39.75pt;padding:0cm 0cm 0cm 0cm;height:20.9pt'>
    <p class=MsoNormal><span style='font-size:8.0pt;font-family:
    Arial'>&nbsp;</span></p>
    </td>
    <td width=40 style='width:39.75pt;padding:0cm 0cm 0cm 0cm;height:20.9pt'>
    <p class=MsoNormal><span style='font-size:8.0pt;font-family:
    Arial'>&nbsp;</span></p>
    </td>
   </tr>
  </table>
  </div>
  </td>
 </tr>
 <tr style='height:6.85pt'>
  <td width=517 colspan=6 style='width:516.7pt;padding:0cm 0cm 0cm 0cm;
  height:6.85pt'>
  <p class=MsoNormal><span style='font-size:9.0pt;font-family:"Times New Roman"'>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width=517 colspan=6 style='width:516.7pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span
  style='font-size:8.0pt;font-family:Arial'>Si vous bénéficiez d'un
  Pass 92, de Coupons Sport ou d'un chèque de CE non disponible à la date de
  l'inscription, n'oubliez pas de fournir un chèque de caution du montant
  correspondant, que nous vous rendrons en échange du Pass ou des Coupons
  Sport. Si vous ne connaissez pas le montant de la subvention CE, précisez
  nous tout de même que vous attendez un chèque CE</span><span
  style='font-size:9.0pt;font-family:Arial'>. </span></p>
  <p class=MsoNormal><span style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><i><span
  style='font-size:8.0pt;font-family:Arial'>L'inscription à Suresnes
  Escalade est réalisée pour la saison complète et est non remboursable.
  Toutefois, une rétractation est tolérée jusqu'au 1er septembre {{ subscription.season.beginAt|date('Y') }} et
  donnera lieu à la restitution de l'intégralité du dossier d'inscription.
  Passé cette date les éventuelles demandes de remboursement pour arrêt
  anticipé de l'activité devront être dûment motivées et seront étudiées par
  les administrateurs de Suresnes Escalade. Les sommes versées au titre des
  droits d'entrée et de la licence resteront respectivement acquises à Suresnes
  Escalade et à la FFME.</span></i></p>
  </td>
 </tr>
 <tr>
  <td width=517 colspan=6 style='width:516.7pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span
  style='font-size:8.0pt;font-family:Arial'>Vous avez souscrit, {% if subscription.insurance == 0 %}aucune assurance (individuelle accident, rapatriement, frais de recherche secours)&nbsp;: responsabilité civile uniquement{% else %}pour
  l'assurance, la garantie &quot;Base{{ subscription.insurance == 1 ? '' : (subscription.insurance == 2 ? '+' : '++') }}&quot; incluse dans la licence FFME{% endif %}, {% if subscription.insuranceSlackline %}avec l'option Slackline{% else %}sans l'option slackline{% endif %}, {% if subscription.insuranceSki %}avec l'option Ski{% else %}sans l'option ski{% endif %}. {% if subscription.insuranceIj %}Vous avez souscrit l'option d'assurance IJ{{ subscription.insuranceIj }}{% else %}Par contre, vous n'avez pas souscrit d'assurance complémentaire d'indémnité journalière{% endif %}.</span></p>
  </td>
 </tr>
 <tr>
  <td width=517 colspan=6 style='width:516.7pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span
  style='font-size:8.0pt;font-family:Arial'>Je m’engage à respecter
  le réglement intérieur du club &quot;Suresnes Escalade&quot;, à respecter le
  réglement intérieur du Gymnase du Belvédère, à me conformer aux directives
  données par les personnels du club et du gymnase. D'autre part, je certifie
  sur l'honneur l'exactitude des informations fournies dans ce formulaire.
  Enfin, j'atteste avoir lu l'intégralité de la Notice d'Information de la FFME
  concernant les assurances.</span></p>
  </td>
 </tr>
 <tr>
  <td width=517 colspan=6 style='width:516.7pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span
  style='font-size:8.0pt;font-family:Arial'>- Je reconnais avoir été informé de l’intérêt de souscrire un contrat d’assurance « individuelle accident »</span></p>
  <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span
  style='font-size:8.0pt;font-family:Arial'>- Je reconnais avoir été informé de mon droit d’accès et de rectification des informations ainsi collectées qui feront l’objet d’un traitement informatique (art. 32, 6°, loi n°78-16 du 06/01/1978). Ce droit d’accès s’exerce auprès du secrétariat du club.</span></p>
  <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span
  style='font-size:8.0pt;font-family:Arial'>- J’ai pris connaissance que les photos prises au cours des activités d’escalade au sein du club ou à l’occasion des sorties sont susceptibles d’être diffusées sur le site du club ou d’autres supports. J’ai la possibilité de m’opposer à la diffusion des images me représentant ou représentant mes enfants mineurs par courrier auprès du secrétariat du club.</span></p>
  </td>
 </tr>
 <tr>
  <td width=517 colspan=6 style='width:516.7pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width=268 colspan=2 style='width:267.85pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=4 style='width:4.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=104 colspan=2 style='width:103.85pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><b><span style='font-size:8.0pt;font-family:
  Arial'>Fait à&nbsp;: </span></b></p>
  </td>
  <td width=141 style='width:141.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width=268 colspan=2 style='width:267.85pt;padding:0cm 0cm 0cm 0cm'></td>
  <td width=4 style='width:4.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=104 colspan=2 style='width:103.85pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><b><span style='font-size:8.0pt;font-family:
  Arial'>Fait le&nbsp;: </span></b></p>
  </td>
  <td width=141 style='width:141.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width=272 colspan=3 rowspan=2 style='width:267.85pt;padding:0cm 0cm 0cm 0cm'>
  <p><span
  style='font-size:14.0pt;font-family:Arial'>Signature obligatoire  </span><span
  style='font-size:20.0pt;color:red'>↦</span><span
  style='font-size:8.0pt;font-family:Arial'> <br>
  (d’un parent pour les mineurs)</span></p>
  </td>
  <td width=104 colspan=2 style='width:103.85pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><b><span style='font-size:8.0pt;font-family:
  Arial'>Signature de l'Adhérent&nbsp;: </span></b></p>
  </td>
  <td width=141 style='width:141.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><b><span style='font-size:9.0pt;font-family:
  Arial'>&nbsp;</span></b></p>
  </td>
 </tr>
 <tr>
  <td width=4 style='width:4.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><span style='font-size:9.0pt;font-family:Arial'>&nbsp;</span></p>
  </td>
  <td width=104 colspan=2 valign=top style='width:103.85pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><b><span style='font-size:8.0pt;font-family:
  Arial'>(d'un parent pour les mineurs)</span></b></p>
  </td>
  <td width=141 style='width:141.0pt;padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal><b><span style='font-size:9.0pt;font-family:
  Arial'>&nbsp;</span></b></p>
  </td>
 </tr>
</table>
</div>
</body>

</html>
