<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <title>Suresnes Escalade - Justificatif Inscription</title>
        <style type="text/css">
            /* CSS Document */
            h1 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px; text-align: center; margin-top: 15px; }
            h2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; text-align: center; text-decoration: underline; margin-top: 15px; }
            p { font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 16px; text-indent: 20px; text-align: justify; }
            .container { font-size: 16px; font-family: Geneva, Arial, Helvetica, sans-serif; }
            .credits { text-align: center; color: #999999; font-size: 12px; }
            .image { text-align: center; }
            .montants { font-size: 16px; font-family: Geneva, Arial, Helvetica, sans-serif; font-weight:bold; }
            .entete { text-indent: 20px; }
            .date { text-align: right;}
            .creneau { text-align: center; font-weight: bold; font-size: 16px; margin-top: 10px; }
            .montant { text-align: right; }
            .attention { text-align: center; font-weight: bold; color: #FF0000; }
            .total { font-weight: bold; }
            .cheque { text-align: center; margin-top: 25px; }
        </style>
    </head>
    <body>
        <div class="container">
            <table width="640" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td colspan="5">
                        <div class="image"><img src="/bundles/app/images/logo-300.png" alt="Suresnes Escalade" height="100" width="220"/></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <h1>JUSTIFICATIF INSCRIPTION {{ subscription.season|upper }}</h1>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="5">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="5" class="entete">SURESNES ESCALADE</td>
                </tr>
                <tr>
                    <td colspan="5" class="entete">Centre Sportif du Belvédère</td>
                </tr>
                <tr>
                    <td colspan="5" class="entete">65 bis rue Gambetta</td>
                </tr>
                <tr>
                    <td colspan="5" class="entete">92150 SURESNES</td>
                </tr>
                <tr>
                    <td colspan="5" class="entete">Tel : 06 17 62 01 66</td>
                </tr>
                <tr>
                    <td colspan="5">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="5">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="5">
                        <div align="right">Fait à Suresnes, le {{ "now"|date("d/m/Y") }}</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="5">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="5">
                        <p>Je soussigné(e), François ARNOLD, président du club d’escalade de Suresnes (SURESNES ESCALADE), certifie que {{ subscription.firstName }} {{ subscription.lastName }} né(e) le {{ subscription.birthday|date("d/m/Y") }} et domicilié(e) au {{ subscription.address }} à {{ subscription.postalCode }} {{ subscription.city|upper }} est inscrit(e) au club de SURESNES ESCALADE pour la {{ subscription.season|lower }}. </p>
                    </td>
                </tr>
                <tr class="montants">
                    <td width="50">&nbsp;</td>
                    <td width="350">COTISATION ANNUELLE : </td>
                    <td width="40">&nbsp;</td>
                    <td width="100">
                        <div align="right">{{ subscription.priceCorrected?:subscription.priceCalculated }} Euros</div>
                    </td>
                    <td width="100">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="5">&nbsp;</td>
                </tr>
                <tr class="montants">
                    <td width="50">&nbsp;</td>
                    <td width="350">RECU CE JOUR : </td>
                    <td width="40">&nbsp;</td>
                    <td width="100">
                        <div align="right">{{ subscription.paidTotal }} Euros</div>
                    </td>
                    <td width="100">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="5">
                        <p>Facture payée et acquittée : {{ subscription.paidTotal < subscription.price ? 'NON' : 'OUI' }}</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="5">
                        <p>Fait pour valoir ce que de droit, </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                    <td colspan="3">
                        <div align="center">
                            <img src="/bundles/app/images/stamp.png" alt="Suresnes Escalade" height="145" width="190"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="5">
                        <div align="right">(Signature et cachet de l'Association)</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="5">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="5">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="5" class="credits"><strong>Suresnes Escalade</strong></td>
                </tr>
                <tr>
                    <td colspan="5" class="credits">Club affilié à la Fédération Française de la Montagne et de l’Escalade</td>
                </tr>
                <tr>
                    <td colspan="5" class="credits">Association loi 1901 - Agrément D.D.J.S. 92/S/501</td>
                </tr>
                <tr>
                    <td colspan="5" class="credits">Gymnase du Belvédère, 65 bis rue Gambetta, 92150 Suresnes</td>
                </tr>
                <tr>
                    <td colspan="5" class="credits">http://suresnes-escalade.fr/ - contact@suresnes-escalade.fr</td>
                </tr>
                <tr>
                    <td colspan="5" class="credits">Tél. : 06 17 62 01 66 &amp; 06 14 63 24 67</td>
                </tr>
            </table>
        </div>
    </body>
</html>