{% block body %}

Bonjour {{ subscription.firstName|raw }},

Votre souhait d'inscription à Suresnes Escalade pour la {{ subscription.season.title|lower|raw }} a bien été enregistré dans notre base de données.

{% if subscription.noSlot %}
Vous souhaitez prendre uniquement la licence au club et bénéficier des activités et sorties qu'il organise, mais vous ne souhaitez pas grimper sur le mur durant les scéances encadrées.
{% else %}
Votre souhait de grimpe porte sur les créneaux de "{{ subscription.slot1.title|raw }}" et "{{ subscription.slot2.title|raw }}".
{% endif %}

Toutefois, ce souhait d'inscription sera validé par le bureau du club (et donc effectif) sous réserve que le(s) créneau(x) souhaité(s) ne soi(ent) pas complet(s) et uniquement lorsque le dit bureau aura reçu l'intégralité des pièces nécessaires à votre inscription, à savoir :

  * le certificat médical d'aptitude à l'escalade
    (avec la mention "apte à la compétition" pour les enfants ET les adultes)

  * le règlement de la cotisation annuelle ( {{ subscription.priceCalculated|raw }} € )
    (possibilité de payer par chèque en trois fois)

  * la fiche d'inscription imprimée ET signée par l'Adhérent
    (signée par les parents pour les mineurs)

La fiche d'inscription est imprimable à partir du site internet du club :
{{ url('simple_subscription_print', { ref: subscription.id, key: subscription.key })|raw }}

Pensez à vérifier les informations fournies, à compléter la partie financière et à rajouter sur cette fiche le numéro de licence FFME si vous ne l'avez pas fait et en êtes titulaire.

Vous pouvez également modifier votre inscription :
{{ url('simple_subscription', { ref: subscription.id, key: subscription.key })|raw }}

Ces documents devront imperativement nous être remis avant votre première séance d'escalade. Pour information la reprise des cours d'escalade est prévue le lundi {{ 'first monday of september'|date('d') }} septembre {{ subscription.season.beginAt|date('Y') }}.

Vous pouvez dès à présent déposer ces documents dans la boite aux lettres du club (Gymnase du Belvédère, 65 bis rue Gambetta à 92150 SURESNES)

--------

Nom : {{ subscription.lastName|raw }}
Prénom : {{ subscription.firstName|raw }}
Date de naissance : {{ subscription.birthday|date('d/m/Y')|raw }}

--------

Sportivement,

L'équipe de Suresnes Escalade
inscription@suresnes-escalade.fr


PS : Conformément à la loi, vous avez un droit d'accès et de modification aux informations vous concernant.

Pour exercer ce droit, rendez vous à l'adresse suivante : http://suresnes-escalade.fr/

Pour vous identifier, merci d'utiliser votre nom et prénom ainsi que le Mot de passe fourni ci-dessus.

{% endblock %}