{% block body %}

Bonjour {{ subscription.firstName|raw }},

Votre inscription a été validée par un membre du bureau.

------

Nom : {{ subscription.lastName|raw }}
Prénom : {{ subscription.firstName|raw }}
{% if subscription.activatedSlot %}
Créneau : {{ subscription.activatedSlot.title|raw }}
{% else %}
Pas de créneau de grimpe sur le mur.
{% endif %}

------

Vous pouvez télécharger votre justificatif d'inscription à l'adresse suivante :
{{ url('simple_subscription_voucher', { ref: subscription.id, key: subscription.key })|raw }}

Votre licence vous sera envoyée par email par la FFME.

{% if subscription.activatedSlot %}
En attendant de vous voir sur le mur.
{% endif %}

Sportivement,

L'équipe de Suresnes Escalade
inscription@suresnes-escalade.fr

PS : Conformement à la loi, vous avez un droit accès et de modification aux informations vous concernant.
Pour exercer ce droit, rendez vous à l'adresse suivante : http://suresnes-escalade.fr

{% endblock %}