{% extends 'AppBundle::base.html.twig' %}

{% block body %}
	{% include 'AppBundle:Subscription:flow.html.twig' with { active: 'medical' } %}

    <h1>Certificat médical</h1>

	<p>Le certificat médical d'aptitude à l'escalade (avec la mention "apte à la compétition")</p>

    {{ form(form) }}
{% endblock %}
