{% extends 'AppBundle::base.html.twig' %}

{% block body %}
	{% include 'AppBundle:Subscription:flow.html.twig' with { active: 'payment' } %}

    <h1>Modes de paiement</h1>

	<h3><input type="checkbox"/> Pass 92</h3>
	<p>Si vous en êtes bénéficiaire, merci de nous remettre un chèque de 70 € que l'on vous restituera en échange des Pass92.</p>

	<h3><input type="checkbox"/> Coupons Sports</h3>
	<p>Si vous êtes bénéficiaire, merci de nous remettre un chèque du total des coupons que l'on vous restituera contre les coupons.</p>

	<h3><input type="checkbox"/> Chèque CE (ou autre)</h3>
	<p>Si vous êtes bénéficiaire, merci de nous remettre un chèque du total des subvensions que l'on vous restituera contre paiement.</p>

	<h3><input type="checkbox"/> En 3 fois par chèque</h3>
	<p>Vous nous envoyés 3 chèques des montants suivants :</p>
	<ul>
		<li>35% mi-septembre</li>
		<li>35% novembre</li>
		<li>30% janvier</li>
	</ul>

	<h3><input type="checkbox"/> Par chèque</h3>
	<p>Vous nous envoyez 1 chèque du montant total de la cotisation.</p>

{% endblock %}
