{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Subscription</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Season</th>
                <td>{{ entity.season }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ entity.lastName }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ entity.firstName }}</td>
            </tr>
            <tr>
                <th>Sex</th>
                <td>{{ entity.sex }}</td>
            </tr>
            <tr>
                <th>Isactive</th>
                <td>{{ entity.isActive }}</td>
            </tr>
            <tr>
                <th>Isrenewal</th>
                <td>{{ entity.isRenewal }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Validatedat</th>
                <td>{{ entity.validatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Validatedby</th>
                <td>{{ entity.validatedBy }}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{{ entity.birthday|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ entity.age }}</td>
            </tr>
            <tr>
                <th>Occupation</th>
                <td>{{ entity.occupation }}</td>
            </tr>
            <tr>
                <th>Licence</th>
                <td>{{ entity.licence }}</td>
            </tr>
            <tr>
                <th>Slot1</th>
                <td>{{ entity.slot1 }}</td>
            </tr>
            <tr>
                <th>Slot2</th>
                <td>{{ entity.slot2 }}</td>
            </tr>
            <tr>
                <th>Validatedslot</th>
                <td>{{ entity.validatedSlot }}</td>
            </tr>
            <tr>
                <th>Certificatefile</th>
                <td>{{ entity.certificateFile }}</td>
            </tr>
            <tr>
                <th>Certificatedoctor</th>
                <td>{{ entity.certificateDoctor }}</td>
            </tr>
            <tr>
                <th>Certificatedate</th>
                <td>{{ entity.certificateDate|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('inscription') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('inscription_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
