{% extends 'AppBundle::base.html.twig' %}

{% block body %}
	{% include 'AppBundle:Subscription:flow.html.twig' with { active: 'slots' } %}

    <h1>Choix des créneaux</h1>

    {{ form(form) }}
{% endblock %}
