{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<h1>Remplissage des créneaux / {{ season.title }}</h1>

<table width="100%" border="1">
	<thead>
		<tr>
			<th><h2>Créneaux</h2></th>
			<th><h2>Inscrits</h2></th>
		</tr>
	</thead>
{% for slot in season.slots %}
	<tr>
		<th>
			<h3>{{ slot.title }}</h3>
			<p><strong>({{ slot.maxPlaces }} personnes maximum)</strong></p>
			<p>{{ slot.description|nl2br }}</p>
		</th>
		<td width="400px">
			<ol>
				{% for subscription in slot.subscriptions %}
					{% if subscription.isActive %}
					<li>{{ subscription.firstName }} {{ subscription.lastName|upper }}</li>
					{% endif %}
				{% endfor %}
				{% for subscription in slot.waitingSubscriptions %}
					{% if subscription.isActive %}
					{% elseif subscription.isInactive %}
					<!-- Annulé: {{ subscription.firstName }} {{ subscription.lastName }} -->
					{% else %}
					<li style="color: #777">{{ subscription.firstName }} {{ subscription.lastName }} (En attente)</li>
					{% endif %}
				{% endfor %}
			</ol>
		</td>
	</tr>
{% endfor %}
</table>

{% endblock %}
