{# Requires variable season #}

<style>
.euros:after {
	content: " €";
}
.euros {
	display: block;
	text-align: center;
}
</style>

<h2>Tarifs {{ season.title }}</h2>

<table border="1">
	<thead>
		<tr>
			<td></td>
			<th>Jeune [?]</th>
			<th>Adulte [?]</th>
			<th>Famille [?]</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Droits d'inscription</th>
			<td colspan="3"><span class="euros">{{ season.priceFirstRegistration }}</span></td>
		</tr>
		<tr>
			<th>Licence FFME</th>
			<td><span class="euros">{{ season.priceLicenceChild }}</span></td>
			<td><span class="euros">{{ season.priceLicenceAdult }}</span></td>
			<td><span class="euros">{{ season.priceLicenceFamily }}</span></td>
		</tr>
		<tr>
			<th>Cotisation Suresnois</th>
			<td><span class="euros">{{ season.priceCommittee + season.priceClubChild }}</span></td>
			<td><span class="euros">{{ season.priceCommittee + season.priceClubAdult }}</span></td>
			<td></td>
		</tr>
		<tr>
			<th>Cotisation Non-Suresnois</th>
			<td><span class="euros">{{ season.priceCommittee + season.priceClubChild + season.priceNotResidentChild }}</span></td>
			<td><span class="euros">{{ season.priceCommittee + season.priceClubAdult + season.priceNotResidentAdult }}</span></td>
			<td></td>
		</tr>
	</tbody>
</table>
