{% extends '::base.html.twig' %}

{% block title %}Inscription - {{ parent()}}{% endblock %}

{#
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Suresnes Escalade{% endblock %}</title>
        {% block stylesheets %}

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav>
            <a href="{{ path('app_profile') }}">Mon profil</a>
            <a href="{{ path('subscription') }}">Mon inscription</a>
            <a href="{{ path('slots_subscriptions') }}">Remplissage des créneaux</a>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
#}
