{% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') %}
    <a href="{{ admin.generateObjectUrl('voucher', object) }}" class="btn voucher_link btn-small" title="{{ 'action_voucher'|trans({}, 'SonataAdminBundle') }}">
        <i class="icon-envelope"></i>
        Justificatif
    </a>
{% endif %}
