{% if admin.isGranted('NEW', object) and admin.hasRoute('clone') %}
    <a href="{{ admin.generateObjectUrl('clone', object) }}" class="btn print_link btn-small" title="Créer une nouvelle saison." onclick="return confirm('Voulez-vous créer une nouvelle saison ?)">
        <i class="icon-plus"></i>
        Dupliquer
    </a>
{% endif %}
